<div class  = "container">
    <div class = "row-fluid">
        <div class="col-sm-9 col-md-6">
            <div class="iphone-frame">
                <div class="screen-wrapper">
                    <video class="local-video active-video" autoplay id="local-video" muted></video>
                    <div id = "remote-videos-container" class="remote-videos-container"></div>
                </div>
            </div>
            <div>
                <div>
                    <label for="username">Username:</label>
                    <input id="username" name = "username" ng-model="user.username">This user: {{user| json}}
                </div>
                <button id="startButton">Connect</button>
               
                <button id="hangupButton">Hang Up</button>
                <button id="disconnectButton">Disconnect</button>
            </div>
            <div>
                User: {{status}}
                {{users|json}}
                {{user}}
            </div>    
        </div>
        <div class="col-sm-3 col-md-6">
            <h2>List of users online</h2>
            <ul ng-repeat="user_connected in users">
                <li ng-if="user.username != user_connected">
                    <div>
                        <span><a ng-click="sendOffer(user_connected)"><img src = "./images/video_call_icon.png" class="call_icon"/></a>{{user_connected}}</span>
                    </div>
                </li>   
            </ul>    
        </div>

        <div class="modal modal-md" id="incomingCall" tabindex="-1" role="dialog" aria-labelledby="incomingCall" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Incoming Call</h3>
                </div>
                <div class="modal-body">
                    <img src="img/incoming.png"/><br/><p>&nbsp;</p>
                    <p>You have an incoming call from <span id="incomingUser"></span></p>
                    <audio id="incomingRing" src="http://localhost/ring.ogg" loop/>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Reject</button>
                    <button id="incomingAccept" class="btn btn-primary">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>