<div class="container">
    <h2>Current Room:<span class="current_room"> {{current_room}}</span></h2>

    <div class = "row-fliud">
        <div class="col-sm-9">
            <uib-tabset justified="true">
                <uib-tab ng-repeat="room in rooms" heading="{{room}}" select="switchRoom(room)">
                    <h2>Current Room:<span class="current_room"> {{current_room}}</span></h2>
                    <div id="conversation-{{room}}"></div>
                    <input id="data-{{room}}" class="message" ng-model="message.text"/>
                    <input type="button" class = "datasend" id="datasend-{{room}}" value="Send" ng-click="senddata(message, room)" />
                </uib-tab> 
            </uib-tabset>
        </div> 


        <div class="col-sm-3">
            <h2>List of users online</h2>
            <ul ng-repeat="user in users">
                <li>{{user}}<li>
            </ul>    
        </div>
    </div>
    {{message}}
</div>


